@model DigiKala.DataAccessLayer.Entities.Store

<div style="direction: rtl">

    <h3 class="text-center">
        ثبت درخواست فروشگاه
    </h3>
    <br />

    <p>
        کاربر گرامی درخواست ثبت فروشگاه شما در دیجی کالا با موفقیت انجام شد
    </p>
    <br />

    <p>
        لطفا کد @Model.MailActivateCode را در قسمت مربوطه در پنل خود وارد و حساب را فعال نمایید
    </p>

</div>