<!DOCTYPE html>

@using DigiKala.Core.Classes

@inject PanelLayoutScope scope

@{
    string roleName = scope.GetUserRoleName(User.Identity.Name);
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-sçale=1" />
    <title>@ViewBag.Title</title>

    <link href="~/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/panel.css" rel="stylesheet" />

</head>
<body>

    <div class="page-wrapper chiller-theme toggled">
        <a href="#" id="show-sidebar" class="bt btn-sm btn-dark">
            <i class="fa fa-bars"></i>
        </a>

        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">

                    <a href="#">پنل @roleName دیجی کالا</a>

                    <div id="close-sidebar">
                        <i class="fa fa-times"></i>
                    </div>
                </div>

                <div class="sidebar-header">

                    <div class="user-info">
                        <span class="user-name">

                        </span>
                        <span class="user-role">
                            @roleName
                        </span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>آنلاین</span>
                        </span>
                    </div>
                    <div class="user-pic">
                        @if (roleName == "مدیر")
                        {
                            <img src="~/images/site/dk.png" alt="دیجی کالا" width="80" height="80" class="img-responsive" />
                        }
                        else
                        {

                        }
                    </div>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        @if (roleName == "مدیر")
                        {

                        }
                        else
                        {
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <span class="pull-right">تنظیمات</span>
                                    <span class="pull-left fa fa-cogs"></span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                مشخصات فروشگاه
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Panel/Activate">
                                                فعالسازی حساب
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                بارگزاری مدارک
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }

                        <li class="sidebar-dropdown">
                            <a href="#">
                                <span class="pull-right">تنظیمات</span>
                                <span class="pull-left fa fa-dashboard"></span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#">
                                            تنظیمات اول
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            تنظیمات دوم
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            تنظیمات سوم
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-footer">

                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warner notification">3</span>
                    </a>

                    <a href="#">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-pill badge-warner notification">1</span>
                    </a>

                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span class="badge badge-pill badge-warner notification">5</span>
                    </a>

                    <a href="/Accounts/LogOut">
                        <i class="fa fa-power-off"></i>
                    </a>

                </div>

            </div>
        </nav>
    </div>


    <div>
        @RenderBody()
    </div>

    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/bootstrap-rtl.min.js"></script>
    <script src="~/js/panel.js"></script>

</body>
</html>
